<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>todo-list</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1>it's <%= day %></h1>
        </div>
        <div class="box">
            <% for(let i = 0;i < items.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= items[i] %></p>
                </div>
            <% } %>
                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button">+</button>
                </form>

        </div>



    </body>




</html>
